.hero{
  padding: 0 5.6rem;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 100vh ;
  &__h1{
    margin-bottom: 3.2rem;
    text-align: left;
  }
  &__colorH1{
    color:$primary-color;
  }
}