.contact {
  height: 100vh;
  padding: 10rem 20rem;

  &__h2{
    font-size:5rem;
    font-family: 'Monoton', cursive;
    margin-bottom: 1rem;
  }
  &__p{
    width: 70%;
    margin:0 auto;
    text-align: left;
    margin-bottom: 2rem;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;

  .input {
    width: 100%;
    border-radius: 2px;
    max-width: 800px;
    padding: 8px 12px;
    border-width: 1px;
  }

  &__btn {
    margin-top: 1.5rem;
    font-size: $mid-font-size;
  }
}

.haveSubmit{
  height: 100vh;
  padding: 10rem 20rem;
  &__h2{
    font-size:$big-font-size;
  }
  &__p{
    font-size: 2rem;
  }
  &__emailAnimation{
    height:500px;
    width:500px;
  }
}