.skills{
  height: 100vh;
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  padding:4rem;
  display:flex;
  flex-direction: column ;
  h3{
    font-size:5rem;
    font-family: 'Monoton', cursive;
    color:white;
    margin-top:-1rem;
  }
  &__warper{
    display:flex;
    flex-direction: column;
    gap:2rem;
    padding:2rem 10rem;
    
    h4{
      font-size:$mid-font-size;
      color:white
    }
  }
  &__content{
    display:flex;
    justify-content: center;
    gap:8rem;
    color:white;
    @media(max-width:700px) {
      gap:5rem;
    }
    @include respond(phone) {
      gap:3.5rem;
    }
    @include respond(phone-XR) {
      gap:3rem;
    }
    div{
      height:100px;
      width:100px;
    }
    img{
      margin-bottom: 1rem;
      height:55px;
      width:55px;
    }
    
  }
}